@model TrackIt.Models.Observacoes

@{
    ViewData["Title"] = "Delete";
}

<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-danger text-white">
            <h1 class="mb-0">Deletar Observação</h1>
        </div>
        <div class="card-body">
            <h4 class="mb-3">Você tem certeza que deseja deletar esta observação?</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.ObservacoesDescricao)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ObservacoesDescricao)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.ObservacoesLocal)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ObservacoesLocal)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.ObservacoesData)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ObservacoesData)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Animals.AnimalNome)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Animals.AnimalNome)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Usuario.UsuarioNome)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Usuario.UsuarioNome)
                </dd>
            </dl>
            <form asp-action="DeleteConfirmed">
                <input type="hidden" asp-for="ObservacoesId" />
                <div class="form-group">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
