@model TrackIt.Models.Observacoes

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-info text-white">
            <h1 class="mb-0">Detalhes da Observação</h1>
        </div>
        <div class="card-body">
            <h4 class="mb-3">Observações</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.ObservacoesDescricao)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ObservacoesDescricao)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.ObservacoesLocal)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ObservacoesLocal)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.ObservacoesData)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ObservacoesData)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Animals.AnimalNome)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Animals.AnimalNome)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Usuario.UsuarioNome)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Usuario.UsuarioNome)
                </dd>
            </dl>
        </div>
        <div class="card-footer bg-light text-right">
            <a asp-action="Index" class="btn btn-secondary">Voltar para a Lista</a>
        </div>
    </div>
</div>
