@model TrackIt.Models.Animals

@{
    ViewData["Title"] = "Deletar";
}

<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-danger text-white">
            <h1 class="mb-0">Deletar Animal</h1>
        </div>
        <div class="card-body">
            <h4 class="card-title mb-4">Você tem certeza que deseja deletar este animal?</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3 font-weight-bold text-danger">
                    @Html.DisplayNameFor(model => model.AnimalNome)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.AnimalNome)
                </dd>

                <dt class="col-sm-3 font-weight-bold text-danger">
                    @Html.DisplayNameFor(model => model.AnimalRaca)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.AnimalRaca)
                </dd>

                <dt class="col-sm-3 font-weight-bold text-danger">
                    @Html.DisplayNameFor(model => model.AnimalTipo)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.AnimalTipo)
                </dd>

                <dt class="col-sm-3 font-weight-bold text-danger">
                    @Html.DisplayNameFor(model => model.AnimalCor)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.AnimalCor)
                </dd>

                <dt class="col-sm-3 font-weight-bold text-danger">
                    @Html.DisplayNameFor(model => model.AnimalSexo)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.AnimalSexo)
                </dd>

                <dt class="col-sm-3 font-weight-bold text-danger">
                    @Html.DisplayNameFor(model => model.AnimalObservacao)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.AnimalObservacao)
                </dd>

                <dt class="col-sm-3 font-weight-bold text-danger">
                    @Html.DisplayNameFor(model => model.AnimalFoto)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.AnimalFoto)
                </dd>

                <dt class="col-sm-3 font-weight-bold text-danger">
                    @Html.DisplayNameFor(model => model.AnimalDtDesaparecimento)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.AnimalDtDesaparecimento)
                </dd>

                <dt class="col-sm-3 font-weight-bold text-danger">
                    @Html.DisplayNameFor(model => model.AnimalDtEncontro)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.AnimalDtEncontro)
                </dd>

                <dt class="col-sm-3 font-weight-bold text-danger">
                    @Html.DisplayNameFor(model => model.AnimalStatus)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.AnimalStatus)
                </dd>

                <dt class="col-sm-3 font-weight-bold text-danger">
                    @Html.DisplayNameFor(model => model.Usuario)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Usuario.UsuarioId)
                </dd>
            </dl>
        </div>
        <div class="card-footer bg-light">
            <form asp-action="DeleteConfirmed" method="post">
                <input type="hidden" asp-for="AnimalsId" />
                <button type="submit" class="btn btn-danger">Deletar</button>
                <a class="btn btn-secondary ml-2" asp-action="Index">Voltar para a lista</a>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
