@model TrackIt.Models.Animals

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Animals</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnimalNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalRaca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnimalRaca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalTipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnimalTipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalCor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnimalCor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalSexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnimalSexo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalObservacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnimalObservacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalFoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnimalFoto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalDtDesaparecimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnimalDtDesaparecimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalDtEncontro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnimalDtEncontro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnimalStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.UsuarioId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AnimalsId">Edit</a> |
    <a asp-action="Index">Voltar para a lista</a>
</div>
