@model TrackIt.Models.Usuario

@{
    ViewData["Title"] = "Detalhes do Usuário";
}

<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h1 class="mb-0">Detalhes do Usuário</h1>
        </div>
        <div class="card-body">
            <h4 class="mb-3">Usuário</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">Nome</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.UsuarioNome)</dd>

                <dt class="col-sm-3">Telefone</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.UsuarioTelefone)</dd>

                <dt class="col-sm-3">Email</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.UsuarioEmail)</dd>

                <dt class="col-sm-3">Senha</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.UsuarioSenha)</dd>
            </dl>
        </div>
        <div class="card-footer bg-light text-right">
            <a asp-action="Edit" asp-route-id="@Model.UsuarioId" class="btn btn-warning">Editar</a>
            <a asp-action="Index" class="btn btn-secondary">Voltar para a Lista</a>
        </div>
    </div>
</div>
